#!/bin/bash
#
# Environment variables used for project: Rename this file as run.vars.sh
#

export      DOCKDIR="${TACC_DOCK_BIN}"
export   DOCKPARAMS="${TACC_DOCK_PARAM}"
export     AMBERDIR="${AMBER_PREFIX}/bin"
export      ROOTDIR="/path/to/vs-protocol"
export    MASTERDIR="${ROOTDIR}/zzz.master"
export     UTILSDIR="${ROOTDIR}/zzz.utils"
export      ZINCDIR="${ROOTDIR}/zzz.zinclibs"
export       SYSTEM="sys_name"
export       VENDOR="vendor_name"
export       SPHCUT="8"
export   ATTRACTIVE="6"
export    REPULSIVE="9"
export GRID_SPACING="0.3"
export   BOX_MARGIN="10"
export      MAX_NUM="100000"


